/* .container {
  padding: 5rem;
  height: 100vh;
}
.home-container {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

p {
  padding: 3rem;
} */
